{% extends "config/base.html" %}
{% load static %}

{% block title %}All Posts{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/blog/post.css" %}">
    <link rel="stylesheet" href="{% static "css/blog/all-posts.css" %}">
{% endblock %}

{% block body %}
{% include "blog/includes/header.html" %}
<section id="all-posts">
  <h2>My Collected Posts</h2>

  <ul>
    {% for post in all_posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>
{% endblock %}