{% extends "config/base.html" %}
{% load static %}
{% load tz %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/blog/post-detail.css" %}">
{% endblock %}

{% block body %}
{% include "blog/includes/header.html" %}

{% if comment_form.errors %}
  <div id="alert">
    <h2>Saving the comment failed</h2>
    <p>Please check the comment form below and correct</p>
    <a href="#comment-form">Fix!</a>
  </div>
{% endif %}

<section id="summary">
  <h2>{{ post.title|title }}</h2>
  <div>
    {% for tag in post_tags %}
      <span class="tag">{{ tag.caption }}</span>
    {% endfor %}
  </div>
  <article>
    {% comment %} <img src="{% static "images/blog/"|add:post.image %}" alt="Post Title" /> {% endcomment %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
    <address>By {{ post.author }}</address>
    <div>Last updated on 
      <time class="utc" datetime="{{ post.updated_at|date:'c' }}">
        {{ post.updated_at|localtime|date:"d M Y, h:i A" }}
      </time>
    </div>
  </article>
</section>

<main>
  {{ post.content|linebreaks }}
</main>

<section id="comments">
  <ul>
    {% for comment in comments %}
      <li>
        <h3>{{ comment.user_name }}</h3>
        <p>{{ comment.text|linebreaks }}</p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="comment-form">
  <h2>Your Comment</h2>
  <form action="{% url "blog-post-detail" slug=post.slug %}" method="POST">
    {% csrf_token %}
    {% for form_field in comment_form %}
      <div class="form-control {% if form_field.errors %}invalid{% endif %}">
        {{ form_field.label_tag }}
        {{ form_field }}
        {{ form_field.errors }}
      </div>
    {% endfor %}
    <button>Save Comment</button>
  </form>
</section>
{% endblock %}