{% extends "config/base.html" %}
{% load static %}
{% load tz %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/blog/post-detail.css" %}">
{% endblock %}

{% block body %}
{% include "blog/includes/header.html" %}
<section id="summary">
  <h2>{{ post.title|title }}</h2>
  <div>
    {% for tag in post_tags %}
      <span class="tag">{{ tag.caption }}</span>
    {% endfor %}
  </div>
  <article>
    {% comment %} <img src="{% static "images/blog/"|add:post.image %}" alt="Post Title" /> {% endcomment %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
    <address>By {{ post.author }}</address>
    <div>Last updated on 
      <time class="utc" datetime="{{ post.updated_at|date:'c' }}">
        {{ post.updated_at|localtime|date:"d M Y, h:i A" }}
      </time>
    </div>
  </article>
</section>

<main>
  {{ post.content|linebreaks }}
</main>
{% endblock %}