{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'icons/config/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'icons/config/favicon.svg' %}" />
    <link rel="shortcut icon" href="icons/config/favicon.ico{% static '' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/config/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'icons/config/site.webmanifest' %}" />
    <link rel="stylesheet" href="{% static 'css/config/style.css' %}">
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/config/app.css' %}">
    {% endblock %}
    <script src="{% static 'js/config/app.js' %}" defer></script>
    <title>{% block title %}Untitle Page{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>